<h2>Add new Article</h2>
<form method="POST" action="">
	<div>
		<label for="title">Title:</label>
		<input type="text" id="title" name="title" value="">
	</div>
	<div>
		<label for="title">URL:</label>
		<input type="url" id="url" name="url" value="">
	</div>
	<div>
		<label for="description">Description:</label>
		<textarea name="description" id="description"></textarea>
	</div>
	<input type="submit" value="Add">
</form>
