
<!--
		<span class="error">Not logged in</span>.
<div class="note">
Try checking out the <a href="restricted">page that requires authentication</a>
</div>
-->
<ol>
{{#each articles as |a|}}
<li><a href={{url}}>{{title}}</a> - [<a href="/article/{{slug}}">details</a>]</li>
{{/each}}
</ol>

<!--
{{#if user}}
<a href="/articles/add">Add an Article</a>
{{/if}}
-->
