<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <a href="/">
        <img src="/img/logo.png" alt="My Logo">
      </a>
      <p class="image-citation">Snowman icons created by Freepik - Flaticon</p>
      <nav>
        <ul>
          <li><a href="/editor" class="btn-editor">Editor</a></li>
          <li><a href="/dictionary" class="btn-dictionary">Dictionary</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
